@import url("whitespace-reset.css");

body {
  /*background-image: url("images/light house.jpg");*/
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: bottom center;
  background-attachment: fixed; 
  width: 100%;
  height: 700px;
  /*overflow: hidden;*/
}

/*header */
header {
  width: 100%;
  height: 60px;
  background-color: #9fa7b5;
  opacity:0.8;
}
header section {
  display: inline-block;
  color: #333a33;
  font: normal normal 15px/normal Arial, sans-serif;
  margin-top: 18px;
}


/*Toggle*/
.events-weather, .costumize-time-date, label[for="checkbox-inline"] {
  margin-left: 20px;
}

.costumize-time-date {
  display: inline;
}

.theme {
  margin-left: 15%;
}

input[type="text"] {
  width: 50px;
}

.togg-value {
  margin-left: 5px ;
}



/* Time */
.day-date {
  display: block;
  width: 500px;
  margin: 0 auto;
  padding-top: 80px;
}

.month-date {
  display: block;
  width: 460px;
  margin: 0 auto;
  margin-top: -30px;
}

#hours, #minutes, #seconds, #am-pm, #day-of-week, #month, #day-of-month {
  display: inline-block;
  /*color: black;*/
  font-family: Helvetica;
  color: #a86605;
}


#hours, #minutes {
font-size: 148px;
}

#seconds {
  font-size: 55px;
  margin-left: 25px;
}

#am-pm {
 font-size: 60px;
 /*margin-left: 60%;*/
 position: absolute;
 top: 27%;
 left: 61%;
}

#day-of-week, #month, #day-of-month {
  font-size: 45px;
}


/*Events*/
.events {
  background-color: #7e7e7e;
  margin-top: 150px;
}

.head-for-events {
  height: 60px;
  margin-bottom: 40px;
  background-color: #575757;
}

.head-for-events > p {
  font-size: 24px;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 35px;
  width: 280px;
  margin: 0 auto ;
}


/*  media queries */
/* Smartphones (portrait and landscape) ----------- */


/* Smartphones (landscape) ----------- */
@media only screen and  (min-width : 320px)  {
  header {

    height: 130px;
  }
  header section:nth-of-type(2) {
    display: inline-block;
  }

  .events-costumize {
    margin-left: 6px;
  }

  label[for="checkbox-inline"] {
    margin-left: 2px;
  }

  .costumize-time-date {
    margin-left: 0px;
    display: inline-table;
  }

  .theme {
    margin-left: 5%;
    margin-right: 11%;
  }

  .togg-value {
    margin-left: 5px;
    margin-right: 2px;
  }
  
  .day-date, .month-date {
    width: 100%;
  }

  #hours, #minutes {
    font-size: 80px;
  }

  #am-pm {
   font-size: 45px;
   /*margin-left: 60%;*/
   position: absolute;
   top: 27%;
   left: 75%;
  }

  #day-of-week, #hours {
    margin-left: 10px;
  }

  .events ul li {
    padding-right: 5px;
  }

}

/* Smartphones (portrait) ----------- */
@media only screen and  (min-width : 321px) and (max-width : 375px)  {
  header {

    height: 130px;
  }
  header section:nth-of-type(2) {
    display: inline-block;
  }

  .events-costumize {
    margin-left: 0px;
  }

  label[for="checkbox-inline"] {
    margin-left: 2px;
  }

  .costumize-time-date {
    margin-left: 0px;
    display: inline-table;
  }

  .theme {
    margin-left: 5%;
    margin-right: 11%;
  }

  .togg-value {
    margin-left: 5px;
    margin-right: 2px;
  }
  
  .day-date, .month-date {
    width: 100%;
  }

  #hours, #minutes {
    font-size: 80px;
  }

  #am-pm {
   font-size: 45px;
   /*margin-left: 60%;*/
   position: absolute;
   top: 27%;
   left: 65%;
  }

  #day-of-week, #hours {
    margin-left: 10px;
  }

  .events ul li {
    padding-right: 5px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}




